<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>k-joseph</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->

	
	<!-- Required Modules -->
	<require_modules>																								
		<require_module version="${uiframeworkVersion}">org.openmrs.module.uiframework</require_module>
		<require_module version="${emrapiVersion}">org.openmrs.module.emrapi</require_module>
	</require_modules>
	<!-- / Required Modules -->
	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.iSantePlusPatientDashboardActivator</activator>
	
	
	<!-- Maps hibernate file's, if present -->
	<mappingFiles>	
		IsantePlusPatientDashboard.hbm.xml			
	</mappingFiles>
	<packagesWithMappedClasses>org.openmrs.module.isantepluspatientdashboard.mapped</packagesWithMappedClasses>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->
	<globalProperty>
		<property>isantepluspatientdashboard.viralLoadConceptId</property>
		<defaultValue>856</defaultValue>
		<description>HIV VIRAL LOAD concept id</description>
	</globalProperty>
	<globalProperty>
		<property>isantepluspatientdashboard.headCircumferenceConceptId</property>
		<defaultValue>5314</defaultValue>
		<description>Head Circumference Concept Id</description>
	</globalProperty>
	<globalProperty>
		<property>isantepluspatientdashboard.formNeedsReviewConceptId</property>
		<defaultValue>163341</defaultValue>
		<description>Form needs review concept id</description>
	</globalProperty>
	<globalProperty>
		<property>isantepluspatientdashboard.formStatusConceptId</property>
		<defaultValue>163340</defaultValue>
		<description>Form status concept id</description>
	</globalProperty>
	<globalProperty>
		<property>isantepluspatientdashboard.yesConceptId</property>
		<defaultValue>1066</defaultValue>
		<description>Yes Concept id</description>
	</globalProperty>
	<globalProperty>
		<property>isantepluspatientdashboard.noConceptId</property>
		<defaultValue>1065</defaultValue>
		<description>No Concept id</description>
	</globalProperty>
	<globalProperty>
		<property>isantepluspatientdashboard.incompleteConceptId</property>
		<defaultValue>163339</defaultValue>
		<description>Incomplete Concept id</description>
	</globalProperty>
	<globalProperty>
		<property>isantepluspatientdashboard.completedConceptId</property>
		<defaultValue>1267</defaultValue>
		<description>COMPLETED Concept id</description>
	</globalProperty>
</module>

